body{
    background-color: black !important;
}
.reg_box{

   justify-content: center; 
   align-content: center;
}

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

.submit{
    background-color: red;
}

.login_link a{
    text-decoration: none;
    color: red;
    transition: transform .5s ;

    :hover{
        background-color: red;
        color:black
    }
}

h3{
    color:white !important
}
header {
    top: 0;
    background-color: transparent;
  }


.login_link{
    color:white
}

.im{
    margin-left: 25%;
    margin-right:auto ;
}

nav {
    color: #4abef8;
    display: flex;
    top: 0;
    align-items: center;
    max-width: 1144px;
    margin: 0;
}

nav img {
    width: 10%;
}

* {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}


.links{
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      
      position: absolute;
      font-size: 1.5em;
     
      color: $white;
      text-decoration: none;
      &:after{
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $white;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
      }
      &:hover:after{
          transform: scaleX(1);
          transform-origin: bottom left;
      }
  }
    }